@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  @include flexbox.flexbox(start,start);
  flex-direction: column;
  width: 100%;

  .headerContainer {
    @include flexbox.flexbox(between);
    width: 100%;

    h3 {
      font-size: 18px;
      font-weight: 700;
    }

    a {
      all: unset;
      font-size: 14px;
      color: colors.$GRAY7;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
