@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  @include flexbox.flexbox(between,center);
  position: relative;
  column-gap: 10px;
  width: 150px;
  padding: 10px 20px;
  background-color: colors.$WEAKBLACK;
  border-radius: 20px;

  .time {
    z-index: 1;
    color: colors.$GRAY3;

    &.current {
      color: colors.$WHITE;
    }
  }

  .item {
    position: absolute;
    z-index: 0;
    width: 80px;
    height: 100%;
    pointer-events: none;
    background-color: colors.$GRAY3;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    transform: translateX(-30%);

    &.isWeek {
      transform: translateX(65%);
    }
  }
}
