@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

button.logoutButton {
  width: 100%;
  font-size: 16px;

  .container {
    @include flexbox.flexbox(start,center);
    position: relative;
    column-gap: 10px;
    width: 100%;
    padding: 15px 18px;
    color: colors.$GRAY7;

    svg {
      width: 20px;
      fill: colors.$GRAY7;
    }

    &:hover {
      color: colors.$WHITE;
      background-color: colors.$GRAY3;

      svg {
        fill: colors.$RED;
      }
    }
  }
}
