@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox;
  width: 60px;
  height: 200px;
  color: colors.$WHITE;
  background-color: colors.$RED;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  &:hover {
    filter: brightness(105%);
  }

  &:active {
    filter: brightness(95%);
  }
}
