@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  @include flexbox.flexbox(between,start);
  position: relative;
  width: 100%;
  padding: 10px;

  .leftContainer {
    @include flexbox.flexbox(start,start);
    column-gap: 10px;

    .container {
      @include flexbox.flexbox(start,start);
      flex-direction: column;
      row-gap: 2px;

      .comment {
        color: colors.$GRAY7;
      }

      .createdAt {
        font-size: 12px;
        color: colors.$GRAY3;
      }
    }
  }
}
