// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$WEAKBLACK: #1a161f;
$GRAY3: #333333;
$GRAY7: #777777;
$GRAYA: #aaaaaa;
$RED: #eb1c24;
$YELLOW: #ffc728;

$GRAY2: #222222;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAY6: #666666;

// Chromatic
$ORANGE: #ff9500;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
