@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox;
  width: 100%;
  padding: 12px 0;
  font-size: 15px;
  color: colors.$WHITE;
  background-color: colors.$RED;
  border-radius: 5px;

  &:hover {
    filter: brightness(105%);
  }

  &:active {
    filter: brightness(95%);
  }
}
