@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  ul {
    @include flexbox.flexbox(start, center);
    column-gap: 30px;
    padding: 25px 20px;
    color: colors.$GRAY7;
    border-bottom: 1.5px solid colors.$WEAKBLACK;

    a {
      all: unset;
      cursor: pointer;

      li.current {
        color: colors.$WHITE;
      }
    }
  }
}
