@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.wrapper {
  @include flexbox.flexbox(between, start);
  position: fixed;
  right: 0;
  z-index: 100;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  padding: 15px;
  background-color: colors.$WEAKBLACK;
}
