@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox;
  padding: 10px 13px;
  border-radius: 50%;

  svg.bookmark {
    width: 18px;
    fill: colors.$GRAY7;
  }

  &:hover {
    background-color: rgba($color: #777777, $alpha: 50%);

    svg.bookmark {
      fill: colors.$GRAY3;
    }
  }
}
